/* Reset */

*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	box-sizing: border-box;
}

/* Generics */

body {
	font-family: sans-serif;
}

header {
    background-color: black;
    height: 50px;
}

main {
    height: calc(100vh - 140px);
    overflow: auto;

}

footer {
    background-color: black;
    height: 90px;
}

/* Utils */

.container {
	padding: 0 50px;
}

img {
    max-width: 100%;
}

/* Main */

.flex {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 250px;
    height: 150p,;
    margin: 5px;
}

.user {
    position: absolute;
    bottom: 5px;
    left: 0px;
    font-size: 8px;
    background-color: rgba(0, 0, 0, .4);
    color: white;
    padding: 3px;
}

/* Footer */

.commands {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.commands li{
    list-style-type: none;
    text-decoration: none;
}

.commands *{
    color: white;
}

.commands-sx ul{
    display: flex;
    height: 100%;
    margin-left: 20px;
}

.commands-center ul{
    display: flex;
    height: 100%;
}

.icon li{
    font-size: 20px;
}

.icon p{
    font-size: 12px;
    margin-top: 5px;
    text-align: center;
}

.icon{
    padding: 20px;
    text-align: center;
}

#green {
    color: green;
}

.commands-dx{
    background-color: grey;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.commands-dx p{
    color: red;
    padding: 20px;
}

