/* Reset */

*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	box-sizing: border-box;
}

/* Generics */

body {
	font-family: sans-serif;
}

header {
    background-color: black;
    height: 50px;
    margin-bottom: 10px;
}

main {
    height: calc(100vh - 140px);
    overflow: auto;

}

footer {
    background-color: black;
    height: 70px;
    margin-top: 10px;
}

/* Utils */

.container {
	width: 1200px;
	margin: 0 auto;
}

img {
    max-width: 100%;
}

/* Main */

.flex {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    border: 2px solid black;
    width: 230px;
    height: 150px;
}
